<?xml version="1.0" encoding="UTF-8"?>
<beans>

	<!-- 회원관리 -->
	<bean type="controller" name="/user/list" class="kr.or.kosta.sjrent.user.controller.UserListController" />
	<!-- 로그인 -->
	<bean type="controller" name="/user/login" class="kr.or.kosta.sjrent.user.controller.UserLoginController" />
	<!-- 로그아웃 -->
	<bean type="controller" name="/user/logout" class="kr.or.kosta.sjrent.user.controller.UserLogoutController" />
	<!-- 회원가입 -->
	<bean type="controller" name="/user/singup" class="kr.or.kosta.sjrent.user.controller.UserSignupController" />
	
	<!-- 모델검색 -->
	<bean type="controller" name="/model/list" class="kr.or.kosta.sjrent.model.controller.ModelListController" />
	<!-- 모델상세 -->
	<bean type="controller" name="/model/detail" class="kr.or.kosta.sjrent.model.controller.ModelDetailController" />
</beans>