<?xml version="1.0" encoding="UTF-8"?>
<beans>

	<!-- 회원관리 -->
	<bean type="controller" name="/user/list" class="kr.or.kosta.shoppingmall.user.controller.UserListController" />
	
	<!-- ajax 요청 처리 데모 -->
	<bean type="controller" name="/ajax" class="kr.or.kosta.shoppingmall.demo.controller.AjaxController" />
	
	

</beans>