<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>myshoppingmall</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Listener 설정 -->
	<listener>
		<listener-class>kr.or.kosta.myshoppingmall.common.listener.ServletContextListener</listener-class>
	</listener>

	<!-- Listener 초기 파라메터 설정 -->
	<context-param>
		<param-name>configLocation</param-name>
		<param-value>C:/KOSTA187/workspace/myshoppingmall/src/main/webapp/WEB-INF/object-mapper.xml</param-value>
	</context-param>
</web-app>