<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.sjrent.model">
	<resultMap type="Model" id="modelResultMap">
		<result column="model_name" 			property="name" />
		<result column="model_fuel_type" 		property="fuelType" />
		<result column="model_fuel_efficiency"	property="fuelEfficiency" />
		<result column="model_seater" 			property="seater" />
		<result column="model_transmission" 	property="transmission" />
		<result column="model_navigation"		property="navigation" />
		<result column="model_camera_rear" 		property="cameraRear" />
		<result column="model_year" 			property="year" />
		<result column="model_highpass" 		property="highpass" />
		<result column="model_blackbox" 		property="blackBox" />
		<result column="model_options" 			property="options" />
		<result column="model_picture" 			property="picture" />
		<result column="model_type" 			property="type" />
		<result column="model_weekday_price" 	property="weekdayPrice" />
		<result column="model_weenkend_price" 	property="weekendPrice" />
		<result column="model_eval_score" 		property="evalScore" />
	</resultMap>
	
	<!-- 모델명으로 모델 찾기 -->
	<select id="read" parameterType="String" resultType="Model"
		resultMap="modelResultMap">
		SELECT model_name,
		model_year,
		model_fuel_type,
		model_fuel_efficiency,
		model_seater,
		model_transmission,
		model_navigation,
		model_camera_rear,
		model_highpass,
		model_blackbox,
		model_type,
		model_weekday_price,
		model_weenkend_price,
		model_options,
		model_picture,
		(SELECT AVG(review_evalscore)
		FROM review
		WHERE model_name = #{value}) evalScore,
		model_rental_count
		FROM model
		WHERE model_name = #{value}
	</select>

	<!-- 전체 모델 리스트 -->
	<select id="listAll" resultType="Model"
		resultMap="modelResultMap">
	SELECT m.model_name, 
	       m.model_year, 
	       m.model_fuel_type, 
	       m.model_fuel_efficiency, 
	       m.model_seater, 
	       m.model_transmission, 
	       m.model_navigation, 
	       m.model_camera_rear, 
	       m.model_highpass, 
	       m.model_blackbox, 
	       m.model_type, 
	       m.model_weekday_price, 
	       m.model_weenkend_price, 
	       m.model_options, 
	       m.model_picture, 
	       m.model_rental_count, 
	       Avg(r.review_evalscore) model_eval_score, 
	       Count(r.review_seq) 
	FROM   model m 
	       LEFT OUTER JOIN review r 
	                    ON m.model_name = r.model_name 
	GROUP  BY m.model_name, 
	          m.model_year, 
	          m.model_fuel_type, 
	          m.model_fuel_efficiency, 
	          m.model_seater, 
	          m.model_transmission, 
	          m.model_navigation, 
	          m.model_camera_rear, 
	          m.model_highpass, 
	          m.model_blackbox, 
	          m.model_type, 
	          m.model_weekday_price, 
	          m.model_weenkend_price, 
	          m.model_options, 
	          m.model_picture, 
	          m.model_rental_count 
	</select>
	
	<!-- 검색 결과 모델 리스트 -->
	<select id="listBySearch" parameterType="modelParams" resultType="Model"	resultMap="modelResultMap">
		SELECT m.model_name, 
		       m.model_year, 
		       m.model_fuel_type, 
		       m.model_fuel_efficiency, 
		       m.model_seater, 
		       m.model_transmission, 
		       m.model_navigation, 
		       m.model_camera_rear, 
		       m.model_highpass, 
		       m.model_blackbox, 
		       m.model_type, 
		       m.model_weekday_price, 
		       m.model_weenkend_price, 
		       m.model_options, 
		       m.model_picture, 
		       Avg(r.review_evalscore) model_eval_score,
		       m.model_rental_count
		FROM   (SELECT * 
		        FROM   model 
		        WHERE  <if test="type != null">model_type =  #{type} AND </if>
		               model_name IN (SELECT DISTINCT model_name 
		                              FROM   car 
		                              WHERE  car_num NOT IN (SELECT car_num 
		                                                     FROM   rent 
		                                                     WHERE  #{startDate} BETWEEN 
		                                                               rent_start_date AND rent_end_date 
		                                                            OR #{endDate} BETWEEN 
		                                                               rent_start_date AND rent_end_date 
		                                                            OR rent_start_date BETWEEN 
		                                                                #{startDate} AND  #{endDate} 
		                                                            OR rent_end_date BETWEEN 
		                                                                #{startDate} AND  #{endDate}))) m 
		       LEFT OUTER JOIN review r 
		                    ON m.model_name = r.model_name 
		GROUP  BY m.model_name, 
		          m.model_year, 
		          m.model_fuel_type, 
		          m.model_fuel_efficiency, 
		          m.model_seater, 
		          m.model_transmission, 
		          m.model_navigation, 
		          m.model_camera_rear, 
		          m.model_highpass, 
		          m.model_blackbox, 
		          m.model_type, 
		          m.model_weekday_price, 
		          m.model_weenkend_price, 
		          m.model_options, 
		          m.model_picture,
		          m.model_rental_count
	</select>
	
	<!-- 인기 모델 리스트 -->
	<select id="popularModel" parameterType="Integer" resultType="Model" resultMap="modelResultMap">
		SELECT m.model_name,
		m.model_year,
		m.model_fuel_type,
		m.model_fuel_efficiency,
		m.model_seater,
		m.model_transmission,
		m.model_navigation,
		m.model_camera_rear,
		m.model_highpass,
		m.model_blackbox,
		m.model_type,
		m.model_weekday_price,
		m.model_weenkend_price,
		m.model_options,
		m.model_picture,
		AVG(r.review_evalscore) model_eval_score,
		m.model_rental_count
		FROM model m
		left outer join review r
		ON m.model_name = r.model_name
		WHERE ROWNUM <![CDATA[<=]]> #{value}
		GROUP BY m.model_name,
		m.model_year,
		m.model_fuel_type,
		m.model_fuel_efficiency,
		m.model_seater,
		m.model_transmission,
		m.model_navigation,
		m.model_camera_rear,
		m.model_highpass,
		m.model_blackbox,
		m.model_type,
		m.model_weekday_price,
		m.model_weenkend_price,
		m.model_options,
		m.model_picture,
		m.model_rental_count
	</select>
	
		<!-- 사용 가능한 차 목록 -->
	<select id="checkEnableCar" parameterType="map" resultType="String">
		SELECT car_num 
		FROM   car 
		WHERE  model_name = #{modelName} 
		       AND car_num NOT IN(SELECT c.car_num 
		                          FROM   rent r 
		                                 left outer join car c 
		                                              ON r.car_num = c.car_num 
		                          WHERE  c.model_name = #{modelName}  
		                                 AND ( To_date(#{startDate}) BETWEEN 
		                                       r.rent_start_date AND r.rent_end_date 
		                                        OR To_date(#{endDate}) BETWEEN 
		                                           r.rent_start_date AND r.rent_end_date 
		                                        OR r.rent_start_date BETWEEN 
		                                           To_date(#{startDate}) AND To_date( 
		                                           #{endDate}) 
		                                        OR r.rent_end_date BETWEEN 
		                                           To_date(#{startDate}) AND 
		                                           To_date(#{endDate})))
	</select>

</mapper>