<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.sjrent.wishitem">
	<resultMap type="WishItem" id="wishItemResultMap">
		<result column="wishitem_seq" 			property="number" />
		<result column="user_seq"  				property="userNumber" />
		<result column="user_id" 				property="userId" />
		<result column="model_name" 			property="modelName" />
		<result column="wish_start_date" 		property="startDate" />
		<result column="wish_end_date" 			property="endDate" />
		<result column="amount_money" 			property="amountMoney" />
		<result column="model_picture" 			property="picture" />
		<result column="model_type" 			property="type" />
		<result column="model_fuel_type" 		property="fuelType" />
	</resultMap>
	
	<!-- WishItem 추가 -->
	<insert id="add" parameterType="WishItem">
		INSERT INTO wishitem 
		            (wishitem_seq, 
		             user_seq, 
		             user_id, 
		             model_name, 
		             wish_start_date, 
		             wish_end_date,
		             amount_money) 
		VALUES      ( wishitem_seq.NEXTVAL, 
		             #{userNumber}, 
		             #{userId}', 
		             #{modelName}, 
		             To_date(#{startDate}, 'YYYY-MM-DD'), 
		             To_date(#{endDate}, 'YYYY-MM-DD'),
		             amountMoney)
	</insert>
	
	<!-- WishItem 삭제 -->
	<delete id="delete" parameterType="Integer">
		DELETE FROM wishitem 
		WHERE  wishitem_seq = #{value} 
	</delete>

	<!--  위시 아이템 번호로 위시 아이템 읽기 -->
	<select id="read" parameterType="Integer" resultType="WishItem" resultMap="wishItemResultMap">
		SELECT w.wishitem_seq, 
		       w.user_seq, 
		       w.user_id, 
		       w.model_name, 
        	   to_char(w.wish_start_date, 'yyyy-mm-dd') wish_start_date,
			   to_char(w.wish_end_date, 'yyyy-mm-dd') wish_end_date, 
		       w.amount_money, 
		       m.model_picture, 
		       m.model_type, 
		       m.model_fuel_type 
		FROM   wishitem w xxxxxxxxxxxxxxxc
		       left outer join model m 
		                    ON w.model_name = m.model_name 
		WHERE  wishitem_seq = #{value} 
	</select>
	
	<!-- 특정 회원 wishItem List -->
	<select id="listByUserId" resultType="WishItem" parameterType="String" resultMap="wishItemResultMap">
		SELECT w.wishitem_seq, 
		       w.user_seq, 
		       w.user_id, 
		       w.model_name, 
		       TO_CHAR(w.wish_start_date,'yyyy-MM-dd') wish_start_date, 
		       TO_CHAR(w.wish_end_date,'yyyy-MM-dd') wish_end_date, 
		       w.amount_money, 
		       m.model_picture, 
		       m.model_type, 
		       m.model_fuel_type 
		FROM   wishitem w 
		       left outer join model m 
		                    ON w.model_name = m.model_name 
		WHERE  user_id = #{value}
	</select>
	
</mapper>