div [id$="_div"]{
	border-collapse: collapse;
	width: 50%;
	height: 45px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 3px solid #369;
	margin: 0px 10px;
}

#main {
	margin: 20px 0px;
}
#table {
	border-collapse: collapse;
	width: 50%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 3px solid #369;
	margin-left : 10px;
	margin-bottom : 15px;
}
#label {
	margin: 10px;
}
.header {
	width: 160px;
	padding: 10px;
	font-weight: bold;
	color: #153d73;
	border-right: 1px solid #ccc;
    vertical-align: center;
    display: inline-block;
}

.contents {
	padding: 10px;
    display: inline-block;
}
	
table {
	border-collapse: collapse;
	width: 95%;
	text-align: left;
	line-height: 1.5;
    border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 20px 10px;
}

table th {
	width: 110px;
	padding: 10px;
	font-weight: bold;
    color: #ffffff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #153d73;
}

table td {
	width: 349px;
	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

caption {
	text-align: center;	
	font-size: 30px;
	font-weight: bold;
	color: #153d73;
	margin-bottom: 15px;
}

button {
	border-width:0;
	border-radius:5px;
	background-color: #153d73;
	color: white;
	width: 80px;
	height: 25px;

}