<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
  <div id="wrapper">

    <div id="page">
      <div id="content">

        <div class="post">
          <h2 class="title">
            <a href="#">[Review]</a>
          </h2>

          <br>
          <div align="right">#전체 게시물 총 <!-- <%=rowCount%> -->개</div>   
               
          <div class="entry">
            
            
              <table border="1" width="100%">
                <thead>
                  <tr align="center">
                    <th>번호</th>
                    <th>차이름</th>
                    <th>아이디</th>
                    <th>제목</th>
                  </tr>
                </thead>
                  <tbody id="tbody">

                    <!-- DB로부터 table 생성 -->
                    <!-- <%-- start #sidebar --%>
                    <jsp:include page="/article/article.jsp"></jsp:include>
                    <%-- end #sidebar --%> -->

                  </tbody>
                </table>

            
          </div> <!-- entry -->                      
        
        
<!-- <%-- start #paging --%>       
<div class="pagination" align="center">
  <%if (pageBuilder.isShowFirst()) {%>
  <a href="<%=pageBuilder.getQueryString(1)%>">처음으로</a>
  <% }%>

  <%if (pageBuilder.isShowPrevious()) {%>
  <a href="<%=pageBuilder.getQueryString(pageBuilder.getPreviousStartPage())%>">&laquo;</a>
  <% }%>

  <%for (int i = pageBuilder.getStartPage(); i <= pageBuilder.getEndPage(); i++) {
      if (i == params.getPage()) {%>
  <a class="active"><%=i%></a>
  <%} else {%>
  <a href="<%=pageBuilder.getQueryString(i)%>"><%=i%></a>
  <%}
  }%>

  <%if (pageBuilder.isShowNext()) {%>
  <a href="<%=pageBuilder.getQueryString(pageBuilder.getNextStartPage())%>">&raquo;</a>
  <% }%>
  <% if (pageBuilder.isShowLast()) {%>
  <a href="<%=pageBuilder.getQueryString(pageBuilder.getPageCount())%>">끝으로</a>
  <% }%>
</div>
<%-- end #paging --%>  -->      
                   
                 
        </div><!-- post -->
        
        <div align="right">
        <button type="button" onclick="location.href='/index.jsp'">홈으로</button>
        <button type="button" onclick="location.href='../article/article_new.jsp'">글쓰기</button>
        </div>
          
        <br>
        <br>  
          
      <!-- 검색 폼 -->
      <div class="search" align="center">
        <form action="../board/board.jsp" method="post">
          <select name="searchType">
            <option value="subject">글제목</option>
            <option value="content">글내용</option>
            <option value="writer">작성자</option>
          </select>
          <input type="text" name="searchValue" placeholder="Search..">
          <input type="submit" value="검색">
        </form>
      </div>
      

      </div>
      <!-- end #content -->


      <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
  </div>


</body>
</html>









